@using QrSystem.ViewModel
@model HomeVM
@using Microsoft.AspNetCore.Http
@{
    var qrCodeIdValue = ViewBag.QrCodeId ?? "";


}
<!DOCTYPE html>
<html lang="az">

<!-- Mirrored from mado.az/menu/meals by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Jan 2024 22:49:48 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer=""></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-3.3.1.min1bce.js?v=6"><\/script>')</script>

    <script src="../js/main1bce.js?v=6" defer></script>
    <link href="~/mado/mado.az/style1bce.css?v=6" rel="stylesheet">
    <title>Yeməklər / Menyu / MADO Restoran</title>
    <meta http-equiv="content-language" content="az">
    <base />
    <meta property="og:site_name" content="MADO Restoran" />
    <meta property="og:title" content="Yeməklər" />
    <meta property="og:url" content="https://mado.az/menu/meals" />
    <meta name="generator" content="NECMS">
    <meta name="author" content="MADO Restoran">
    <meta name="description" property="og:description" content="MADO Restoran" />
    <meta name="keywords" content="Mado Restoran, Mado Baki, Mado Baku, Mado Azerbaycan, Mado Azeribaijan" />
    <script>
        $domain = "";
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="https://mado.az/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://mado.az/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="wrapper">
        <div id="header">

            <div class="header-content">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-2">
                            <a class="icon-menu nav-opener" data-src="#nav-holder" href="#"></a>
                            <div id="nav-holder" style="display:none;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="nav-frame">
                                                <div class="top">
                                                    <ul class="main-nav">
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/menu?hl=az" title="Menyu" class="on" itemprop="url">
                                                                <span val="Menyu" itemprop="name">Menyu</span>
                                                            </a>

                                                            <a class="opener" href="#"></a>
                                                            <ul>

                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="special-menuce56.html?hl=az" title="Özəl təkliflər" class="" itemprop="url"><span val="Özəl təkliflər" itemprop="name">Özəl təkliflər</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="yenice56.html?hl=az" title="Menyuda yeni" class="" itemprop="url"><span val="Menyuda yeni" itemprop="name">Menyuda yeni</span></a>
                                                                </li>
                                                                <li class="on" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="mealsce56.html?hl=az" title="Yeməklər" class="on" itemprop="url"><span val="Yeməklər" itemprop="name">Yeməklər</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="sweetsce56.html?hl=az" title="Şirniyyatlar" class="" itemprop="url"><span val="Şirniyyatlar" itemprop="name">Şirniyyatlar</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="ice-creamce56.html?hl=az" title="Dondurmalar" class="" itemprop="url"><span val="Dondurmalar" itemprop="name">Dondurmalar</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="bakeryce56.html?hl=az" title="Fırın məhsulları" class="" itemprop="url"><span val="Fırın məhsulları" itemprop="name">Fırın məhsulları</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="biznes-lanchce56.html?hl=az" title="Business Lunch" class="" itemprop="url"><span val="Business Lunch" itemprop="name">Business Lunch</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="drinksce56.html?hl=az" title="İçkilər" class="" itemprop="url"><span val="İçkilər" itemprop="name">İçkilər</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="mangal-menuce56.html?hl=az" title="Manqal menyu " class="" itemprop="url"><span val="Manqal menyu " itemprop="name">Manqal menyu </span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/restaurant?hl=az" title="Restoranlar" class="" itemprop="url">
                                                                <span val="Restoranlar" itemprop="name">Restoranlar</span>
                                                            </a>
                                                            <a class="opener" href="#"></a>
                                                            <ul>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-fountain-square-41" title="MADO Fəvvarələr meydanı" class="" itemprop="url"><span val="MADO Fəvvarələr meydanı" itemprop="name">MADO Fəvvarələr meydanı</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-sabail-18" title="MADO Səbail" class="" itemprop="url"><span val="MADO Səbail" itemprop="name">MADO Səbail</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-28mall-40" title="MADO 28 Mall" class="" itemprop="url"><span val="MADO 28 Mall" itemprop="name">MADO 28 Mall</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-ganjlik-mall-42" title="MADO Gənclik Mall" class="" itemprop="url"><span val="MADO Gənclik Mall" itemprop="name">MADO Gənclik Mall</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-narimanov-27" title="MADO Nərimanov" class="" itemprop="url"><span val="MADO Nərimanov" itemprop="name">MADO Nərimanov</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-baku-mall-601" title="MADO Baku Mall" class="" itemprop="url"><span val="MADO Baku Mall" itemprop="name">MADO Baku Mall</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="https://mado.az/restaurant/mado-ahmedli-603?hl=az" title="MADO Əhmədli" class="" itemprop="url"><span val="MADO Əhmədli" itemprop="name">MADO Əhmədli</span></a>
                                                                </li>
                                                                <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                                    <a href="#" title="MADO Sumqayıt" class="" itemprop="url"><span val="MADO Sumqayıt" itemprop="name">MADO Sumqayıt</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul><ul class="main-nav">
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/mado-azerbaijan?hl=az" title="Haqqımızda" class="" itemprop="url">
                                                                <span val="Haqqımızda" itemprop="name">Haqqımızda</span>
                                                            </a>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/production-mado?hl=az" title="İstehsalat" class="" itemprop="url">
                                                                <span val="İstehsalat" itemprop="name">İstehsalat</span>
                                                            </a>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/catering-mado?hl=az" title="İaşə xidməti" class="" itemprop="url">
                                                                <span val="İaşə xidməti" itemprop="name">İaşə xidməti</span>
                                                            </a>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/news?hl=az" title="Xəbərlər" class="" itemprop="url">
                                                                <span val="Xəbərlər" itemprop="name">Xəbərlər</span>
                                                            </a>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/feedback?hl=az" title="Şikayət və təkliflər" class="" itemprop="url">
                                                                <span val="Şikayət və təkliflər" itemprop="name">Şikayət və təkliflər</span>
                                                            </a>
                                                        </li>
                                                        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                                                            <a href="https://mado.az/vacancy?hl=az" title="Vakansiyalar" class="" itemprop="url">
                                                                <span val="Vakansiyalar" itemprop="name">Vakansiyalar</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="bottom">
                                                    <div>
                                                        <ul class="contacts-list">
                                                            <li><a class="fas fa-phone" href="tel:"></a></li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <ul class="social-networks">
                                                            <li><a class="fab fa-facebook-square" href="https://www.facebook.com/madoaz/" target="_blank"></a></li>
                                                            <li><a class="fab fa-instagram" href="https://www.instagram.com/madoazerbaycan/" target="_blank"></a></li>
                                                            <li><a class="fab fa-youtube" href="https://www.youtube.com/channel/UCtlHFLWXDf2T_YxOmdIAt5w" target="_blank"></a></li>
                                                            <li><a class="fab fa-twitter" href="https://twitter.com/madoazerbaijan" target="_blank"></a></li>
                                                        </ul>
                                                        <ul class="languages-list">
                                                            <a href="mealsaae5.html?inpage=30&amp;hl=en" title="En">EN</a>
                                                            <a href="meals060f.html?inpage=30&amp;hl=ru" title="Ru">RU</a>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <style>
                            /* CSS Dosyanızda */


                        </style>
                        <div class="col-4">
                            <strong class="logo">
                                @if (Model.CurrentRestoran != null)
                                {
                                    <a href="#">
                                        <img src="~/Restorant/Image/@Model.CurrentRestoran.RestorantImagePath"
                                             alt="@Model.CurrentRestoran.RestorantName"
                                             width="143"
                                             height="55">
                                    </a>
                                }
                                else
                                {

                                }


                            </strong>
                        </div>
                        <div class="col-2">
                            <a asp-controller="Basket" asp-action="Index" asp-route-qrCodeId="@ViewBag.QrCodeId" class="basket_text fw-bold fs-4"><i class="bi bi-cart-check-fill" style="font-size: 3em;"></i></a>


                            <div id="search-holder" style="display:none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main id="main">
            <section class="section-content">
                <div class="container">
                    <div class="row">

                        <div class=" mr-auto ml-auto">





                            <style>

                                .category-filter {
                                    overflow-x: auto;
                                    white-space: nowrap;
                                    display: flex;
                                    overflow-x: auto;
                                    -webkit-overflow-scrolling: touch;
                                    scrollbar-width: none;
                                }

                                button:hover {
                                    background-color: #21520f;
                                }

                                .category-filter::-webkit-scrollbar {
                                    display: none;
                                }

                                .tabcontent-general {
                                    display: flex;
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                }

                                .mybtn {
                                    flex: 0 0 auto;
                                    margin-right: 10px;
                                    cursor: grab;
                                    color: black;
                                    border: none;
                                    outline: none;
                                    padding: 12px 20px;
                                    background-color: #c8c8c8;
                                    border-radius: 32px;
                                    width: max-content;
                                    display: flex;
                                    height: 35px;
                                    align-items: center;
                                    justify-content: center;
                                    margin: 5px 1px;
                                    transition: .5s ease;
                                    font-weight: 500;
                                    font-size: 13px;
                                }

                                .product-container {
                                    display: flex;
                                    align-items: flex-start;
                                    padding: 20px;
                                    background-color: #f5f5f5;
                                    border-radius: 8px;
                                    margin-bottom: 20px;
                                }

                                .product-image img {
                                    width: 197px;
                                    height: 220px;
                                    border-radius: 8px;
                                }

                                .product-details {
                                    flex-grow: 1;
                                    padding-left: 20px;
                                    text-align: left;
                                }

                                .product-description {
                                    margin: 10px 0;
                                }

                                .product-purchase-info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }


                                .cart-button {
                                    width: 200px;
                                    height: 30px;
                                    margin-left: auto;
                                    margin-right: 0;
                                    background-color: #21520f;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 0 7px;
                                    border-radius: 0.25rem;
                                    text-align: center; /* Buton içindeki metni ortala */
                                }

                                    .cart-button span,
                                    .cart-button i {
                                        flex: 1;
                                    }

                                    .cart-button:hover {
                                        background-color: #005f73;
                                    }

                                .Sebeteat,
                                .posision,
                                .bi-cart-check-fill {
                                    font-size: 12px;
                                }

                                .posision {
                                    display: none;
                                }



                                @@media screen and (max-width: 768px) {
                                    .desk.col-lg-6 {
                                        display: flex;
                                        flex-direction: row-reverse;
                                        align-items: center;
                                        gap: 10px;
                                    }

                                    .product-container {
                                        width: 100%;
                                    }

                                    .product-image {
                                        width: 50%;
                                        max-width: 150px;
                                        height: auto;
                                    }

                                        .product-image img {
                                            transform: scale(1.1); /* Resmi %10 oranında büyüt */
                                        }


                                    .product-details {
                                        width: 50%;
                                        text-align: left;
                                    }

                                    .product-description {
                                        word-wrap: break-word; /* Kelimeleri otomatik olarak bir sonraki satıra geçir */
                                        overflow-wrap: break-word; /* Farklı tarayıcılarda uyumluluk için */
                                    }

                                    .product-purchase-info {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 10px;
                                        text-align: left;
                                    }

                                    .cart-button {
                                        width: 150px; /* Butonun genişliğini ayarlayın */
                                        height: auto;
                                        padding: 0 7px;
                                        font-size: 10px; /* Buton metni boyutunu ayarlayın */
                                    }

                                    .Sebeteat,
                                    .posision,
                                    .bi-cart-check-fill {
                                        font-size: 8px; /* İçerik metin boyutunu ayarlayın */
                                    }
                                }

                            </style>
                            @{
                                ViewBag.ActiveCategoryId = Model.ParentsCategory.FirstOrDefault(c => c.Isactive)?.Id;
                            }
                            @{
                                ViewBag.ActiveBigCategoryId = Model.BigParentCategories.FirstOrDefault(c => c.IsActive)?.Id;
                            }

                            <div class="category-filter" style="overflow: auto;" id="ddd">
                                <div class="category">
                                    <ul class="tabcontent-general allCategories">
                                        @foreach (var item in Model.BigParentCategories)
                                        {
                                            <button class="tablinks mybtn @(item.Id == ViewBag.ActiveBigCategoryId ? "active" : "")" onclick="openParentCategory('@item.Id', '@item.Name')">@item.Name</button>
                                        }
                                    </ul>
                                </div>
                                <div id="f-scroll"></div>
                            </div>
                            <div class="category-filter" style="overflow: auto;" id="ddd">
                                <div class="category">
                                    <ul class="tabcontent-general allCategories">
                                        @foreach (var bigParentCategory in Model.BigParentCategories)
                                        {
                                            <div id="parent-category-@bigParentCategory.Id" class="parent-category" style="display: @(bigParentCategory.Id == ViewBag.ActiveBigCategoryId ? "block" : "none"); float: left; margin-right: 20px;">
                                                @foreach (var parentCategory in Model.ParentsCategory.Where(pc => pc.bigParentCategoryId == bigParentCategory.Id))
                                                {
                                                    <!-- Düğme içinde metin yerine düğme etiketleri arasına metin ekleniyor -->
                                                    <button class="tablinks mybtn @(parentCategory.Id == ViewBag.ActiveCategoryId ? "active" : "")" onclick="openCity(event, '@parentCategory.Id')" style="display: inline-block; margin-bottom: 25px; margin-right: 5px;">
                                                        <span style="margin-bottom:20px">  @parentCategory.Name <!-- Metni burada düğme içinde gösteriyoruz -->  </span>
                                                    </button>
                                                }
                                            </div>
                                        }
                                    </ul>
                                </div>
                                <div id="f-scroll"></div>
                            </div>





                            <script>
                                function openParentCategory(bigParentCategoryId, bigParentCategoryName) {
                                    // Tüm ParentCategory bölümlerini gizle
                                    var parentCategories = document.querySelectorAll('.parent-category');
                                    parentCategories.forEach(function (parentCategory) {
                                        parentCategory.style.display = 'none';
                                    });

                                    // İlgili ParentCategory bölümlerini göster
                                    var parentCategory = document.getElementById('parent-category-' + bigParentCategoryId);
                                    if (parentCategory) {
                                        parentCategory.style.display = 'block';
                                    }
                                }
                            </script>




                            <div class="container product1" style="" id="meals">

                                @foreach (var item in Model.ParentsCategory)
                                {
                                    var isActive = ViewBag.ActiveCategoryId == item.Id;
                                    <div id="@item.Id" data-gcat="gcat_0" class="tabcontent findByScroll" style="display: @(isActive ? "block" : "none")">
                                        <div class="line"></div>
                                        <div class="row text-center">
                                            <h1>@item.Name</h1>
                                            <p></p>
                                        </div>
                                        <div class="row">
                                            @if (item.Products != null)
                                            {
                                                @foreach (var item1 in item.Products)
                                                {

                                                    <div class="desk col-lg-6 col-md-12" data-modifmap="">
                                                        <div class="product-container">
                                                            <div class="product-image">
                                                                <img src="~/Image/Product/@item1.ImagePath" alt="@item1.Name">
                                                            </div>
                                                            <div class="product-details">
                                                                <h3>@item1.Name</h3>
                                                                <p class="product-description">@item1.Description...</p>
                                                                <div class="product-purchase-info">
                                                                    <p class="product-price">@item1.Price ₼</p>
                                                                    <form asp-controller="Basket" asp-action="AddBasket" method="post" class="col-5 p-0 add-to-cart d-flex justify-content-end" onsubmit="handleFormSubmit(event, this)">
                                                                        <input type="hidden" name="qrCodeId" value="@ViewBag.QrCodeId" />
                                                                        <input type="hidden" name="_token" value="M85N5au8EFw5fIHoVDq1Xt78R8PfgeUVuUse8pdt">
                                                                        <input type="hidden" name="productId" value="@item1.Id">
                                                                        <button type="submit" class="cart-button" onclick="handleButtonClick(event, this)">
                                                                            <span class="Sebeteat"><i class="fa fa-shopping-cart"></i> Sebete at</span>
                                                                            <span class="posision"><i class="bi bi-cart-check-fill"></i>Elave Edildi</span>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    var buttons = document.querySelectorAll(".cart-button");

                                    buttons.forEach(function (button) {
                                        button.addEventListener("click", function (event) {
                                            var addedText = this.querySelector(".posision");

                                            // Sebete at metnini gizle
                                            this.querySelector(".Sebeteat").style.display = "none";

                                            // Elave Edildi metnini göster
                                            addedText.style.display = "inline";

                                            // Belirli bir süre sonra metni kaldır
                                            setTimeout(function () {
                                                addedText.style.display = "none";
                                                // Sebete at metnini geri göster
                                                button.querySelector(".Sebeteat").style.display = "inline";
                                            }, 2000);
                                        });
                                    });
                                });


                            </script>


                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    document.querySelectorAll('.add-to-cart').forEach(item => {
                                        item.addEventListener('click', event => {
                                            event.preventDefault(); // Formun submit işlemini engelle
                                            var form = event.target.closest('form'); // Formu bul
                                            var formData = new FormData(form); // Form verilerini al
                                            var xhr = new XMLHttpRequest(); // XMLHttpRequest nesnesi oluştur
                                            xhr.open(form.method, form.action, true); // İstek türü ve adresini ayarla
                                            xhr.onload = function () {
                                                if (xhr.status === 200) {
                                                    // Başarılı yanıt durumunda yapılacaklar
                                                    // İstediğiniz ek işlemleri buraya ekleyebilirsiniz
                                                    console.log('Ürün sepete eklendi.');
                                                } else {
                                                    // Hata durumunda yapılacaklar
                                                    console.error('Hata oluştu: ' + xhr.status);
                                                }
                                            };
                                            xhr.onerror = function () {
                                                console.error('İstek tamamlanamadı.');
                                            };
                                            xhr.send(formData); // Form verilerini gönder
                                        });
                                    });
                                });
                            </script>



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-5">
                            <div id="product_list_container">
                                <style>
                                    .thumbnail-media-holder img {
                                        width: 200px; /* Resimlerin genişliğini ayarlar */
                                        height: 200px; /* Resimlerin yüksekliğini ayarlar */
                                        object-fit: cover; /* Resmi kaplayacak şekilde sığdırır, böylece oranı korunur ama fazlalıklar kesilir */
                                    }
                                </style>


                                <script>
                                    // Her sepet düğmesine click olayını dinle
                                    var addToCartButtons = document.querySelectorAll('.sebet');
                                    addToCartButtons.forEach(function (button) {
                                        button.addEventListener('click', function () {
                                            var productName = this.getAttribute('data-product'); // Ürün adını al
                                            var productId = this.getAttribute('data-id'); // Ürün Id'sini al
                                            var quantityElement = document.getElementById(productId); // Ürün miktarı için elementi bul
                                            var quantity = parseInt(quantityElement.innerText) + 1; // Mevcut miktarı al ve bir arttır
                                            quantityElement.innerText = quantity; // Miktarı güncelle
                                            var xhr = new XMLHttpRequest();
                                            xhr.open('POST', 'Sebet.cshtml', true); // Sebet.cshtml sayfasına POST isteği gönder
                                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                                            xhr.send('productName=' + encodeURIComponent(productName)); // Ürün adını POST verisi olarak gönder
                                            console.log("Ürün sepete eklendi:", productName);
                                            console.log("ok"); // Konsola "ok" yazdır
                                        });
                                    });
                                </script>

                            </div>
                            <div class="button-holder text-center">

                                @*  <div class="button-holder text-center">
                                <a href="meals9e2b.html?inpage=30&amp;page=2" class="button pagerAjax" data-loading-text="Yüklənir...">
                                Daha çox göstər
                                </a>
                                <link rel="next" href="meals9e2b.html?inpage=30&amp;page=2">
                                </div> *@
                            </div>
                        </div>
                    </div>

            </section>

        </main>


        @*    <footer id="footer">
        <div class="footer-content">
        <div class="container">
        <div class="row">
        <div class="col-8">
        <strong class="logo"><a href="https://mado.az/"><img src="https://mado.az/images/logo-white.svg" alt="MADO Restoran" width="143" height="55"></a></strong>
        <div class="footer-grid footer-accordion">
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-ganjlik-mall-42">MADO Gənclik Mall</a></h3>
        <address>Gənclik Mall (3-cü mərtəbə). <br><a href="tel:012 599-15-25 / 051 330-05-10">Tel: 012 599-15-25 / 051 330-05-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-narimanov-27">MADO Nərimanov</a></h3>
        <address>N. Nərimanov r., Əhməd Rəcəbli 3.<br><a href="tel:012 566-78-94 / 051 330-02-10">Tel: 012 566-78-94 / 051 330-02-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-fountain-square-41">MADO Fəvvarələr meydanı</a></h3>
        <address>Səbail r., Nigar Rəfibəyli 49a, Fəvvarələr meydanı. <br><a href="tel:012 498-19-01 / 051 330-04-10">Tel: 012 498-19-01 / 051 330-04-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-sumqait-727">MADO Sumqayıt</a></h3>
        <address><p>Sumqayıt şəhəri, S.Vurğun küç., 58</p><br><a href="tel:">Tel: </a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-sabail-18">MADO Səbail</a></h3>
        <address>Səbail r., Mərdanov qard. 3 (Tarqovı)<br><a href="tel:012 598-19-01  /  051 330-01-10">Tel: 012 598-19-01  /  051 330-01-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-28mall-40">MADO 28 Mall</a></h3>
        <address>28 Mall (4-cü mərtəbə).<br><a href="tel:012 499-87-06 / 051 330-03-10">Tel: 012 499-87-06 / 051 330-03-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-ahmedli-603">MADO Əhmədli</a></h3>
        <address><p>Xətai r-nu, Məhəmməd Hadi küç., 116G</p><br><a href="tel:051 330-06-10">Tel: 051 330-06-10</a></address>
        </div>
        </div>
        <div>
        <div class="address-widget fas fa-map-marker-alt">
        <h3><a href="https://mado.az/restaurant/mado-baku-mall-601">MADO Baku Mall</a></h3>
        <address><p>Baku Mall, 1-ci mərtəbə</p><br><a href="tel:070-330-06-10">Tel: 070-330-06-10</a></address>
        </div>
        </div>
        </div>
        <div class="footer-grid">
        <div>
        <ul class="footer-nav">
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="special-menuce56.html?hl=az" title="Özəl təkliflər" class="" itemprop="url"><span val="Özəl təkliflər" itemprop="name">Özəl təkliflər</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="yenice56.html?hl=az" title="Menyuda yeni" class="" itemprop="url"><span val="Menyuda yeni" itemprop="name">Menyuda yeni</span></a>
        </li>
        <li class="on" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="mealsce56.html?hl=az" title="Yeməklər" class="on" itemprop="url"><span val="Yeməklər" itemprop="name">Yeməklər</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="sweetsce56.html?hl=az" title="Şirniyyatlar" class="" itemprop="url"><span val="Şirniyyatlar" itemprop="name">Şirniyyatlar</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="ice-creamce56.html?hl=az" title="Dondurmalar" class="" itemprop="url"><span val="Dondurmalar" itemprop="name">Dondurmalar</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="bakeryce56.html?hl=az" title="Fırın məhsulları" class="" itemprop="url"><span val="Fırın məhsulları" itemprop="name">Fırın məhsulları</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="biznes-lanchce56.html?hl=az" title="Business Lunch" class="" itemprop="url"><span val="Business Lunch" itemprop="name">Business Lunch</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="drinksce56.html?hl=az" title="İçkilər" class="" itemprop="url"><span val="İçkilər" itemprop="name">İçkilər</span></a>
        </li>
        <li class="" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
        <a href="mangal-menuce56.html?hl=az" title="Manqal menyu " class="" itemprop="url"><span val="Manqal menyu " itemprop="name">Manqal menyu </span></a>
        </li>
        </ul>
        </div>
        <div>
        <ul class="footer-nav">
        <li>
        <a href="https://mado.az/menu?hl=az" title="Menyu" class="on" itemprop="url">						<span val="Menyu" itemprop="name">Menyu</span>					</a>
        </li>
        <li>
        <a href="https://mado.az/restaurant?hl=az" title="Restoranlar" class="" itemprop="url">						<span val="Restoranlar" itemprop="name">Restoranlar</span>					</a>
        </li>
        <li>
        <a href="https://mado.az/mado-azerbaijan?hl=az" title="Haqqımızda" class="" itemprop="url">						<span val="Haqqımızda" itemprop="name">Haqqımızda</span>					</a>
        </li>
        <li>
        <a href="https://mado.az/production-mado?hl=az" title="İstehsalat" class="" itemprop="url">						<span val="İstehsalat" itemprop="name">İstehsalat</span>					</a>
        </li>
        <li>
        <a href="https://mado.az/catering-mado?hl=az" title="İaşə xidməti" class="" itemprop="url">						<span val="İaşə xidməti" itemprop="name">İaşə xidməti</span>					</a>
        </li>
        <li>
        <a href="https://mado.az/vacancy?hl=az" title="Vakansiyalar" class="" itemprop="url">						<span val="Vakansiyalar" itemprop="name">Vakansiyalar</span>					</a>
        </li>
        </ul>
        </div>
        <div>
        <ul class="footer-nav">
        <li><a href="https://mado.az/feedback">Bizimlə əlaqə</a></li>
        <li><a href="https://mado.az/restaurant">MADO restoranları</a></li>
        <li><a href="tel:"></a></li>
        <li><a href="mailto:info@mado.az">info@mado.az</a></li>
        </ul>
        </div>
        <div style="visibility: hidden;">
        <strong class="title fab fa-instagram">madoazerbaycan</strong>
        <ul class="media-list" id="instafeed">
        <li><a href="#" target="_blank"><img src="../images/img27.jpg" alt="Image description" width="47" height="49"></a></li>
        <li><a href="#" target="_blank"><img src="../images/img28.jpg" alt="Image description" width="47" height="49"></a></li>
        <li><a href="#" target="_blank"><img src="../images/img29.jpg" alt="Image description" width="47" height="49"></a></li>
        <li><a href="#" target="_blank"><img src="../images/img30.jpg" alt="Image description" width="47" height="49"></a></li>
        <li><a href="#" target="_blank"><img src="../images/img31.jpg" alt="Image description" width="47" height="49"></a></li>
        <li><a href="#" target="_blank"><img src="../images/img32.jpg" alt="Image description" width="47" height="49"></a></li>
        </ul>
        </div>
        <div>
        <strong class="title">Bizi izləyin</strong>
        <ul class="social-networks with-captions">
        <li><a class="fab fa-facebook-square" href="https://www.facebook.com/madoaz/" target="_blank">madoaz</a></li>
        <li><a class="fab fa-instagram" href="https://www.instagram.com/madoazerbaycan/" target="_blank">madoazerbaycan</a></li>
        <li><a class="fab fa-youtube" href="https://www.youtube.com/channel/UCtlHFLWXDf2T_YxOmdIAt5w" target="_blank">madoaz</a></li>
        <li><a class="fab fa-twitter" href="https://twitter.com/madoazerbaijan" target="_blank">madoazerbaijan</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="footer-bottom">
        <div class="container">
        <div class="row">
        <div class="col-sm-4">
        <p class="copy"><a href="https://mado.az/">MADO Azərbaycan</a> 2024 © <br>Bütün hüquqlar qorunur</p>
        </div>
        <div class="col-sm-4 text-right">
        <p class="by">Veb saytın hazırlanması <a href="https://one.az/" target="_blank">ONE Studio</a></p>
        </div>
        </div>
        </div>
        </div>
        </footer> *@

    </div>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70453950-47"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-70453950-47');
    </script>

    <script>
        const listOfReservationTables = [];
        const listOfReservations = [];

        var token = "MGI5MTNmYTk4ZDk0OWE3N2EzYzM5YjI1OTFlOWNkMzE=";
        var token_id = "MTAy";
        var table_no = "";
        var currency = "₼";
        var basket_name = "deirvlon_id_MTAy";
        var ver_tutorial = "0";
        var ver_ba = "1";
        var ver_b = "1";
        var ver_d = "1";
        var ver_t = "1";
        var ver_w = "0";
        var ver_r = "1";
        var ver_ad = "0";
        var ver_r_map_pro = "0";
        var ver_r_payment = "0";
        var ver_dt_payment = "0";
        var ver_monyo_pos_qr_payment = "0";
        var ver_r_map = "0";
        var ver_r_item = "0";
        var ver_r_is_hotel = "0";
        var ver_profile_screen = "1";
        var ver_special_offer = "0";
        var ver_promotion = "0";
        var ver_number_collector_popup = "0";
        var ver_service_fee_calc = "1";
        var ver_table_payment = "0";
        const ver_service_fee_info = 0;
        var me_number = "";
        var wp_number = "0515000145";
        var active = "1";
        const url_360 = "https://azerbaijan360.az/vtour/145/malacanesd/tour.html";
        var service_fee = "0";
        var first_active_hall = '';
        const b_var = '';
        const delivery_limit = '0';



        //Neolit service fee
        if (token_id == 'MTMxNA==' && String(window.location).split("#")[1] != 'monyo') {
            service_fee /= 2;
            document.getElementById('serviceCharge2').innerHTML =
                'Servis haqqı: ' + service_fee + "%";
            document.getElementById('serviceCharge1').innerHTML =
                'Servis haqqı: ' + service_fee + "%";
        }


        //Language
        var lng_search = "Axtar";
        var lng_want_delete_product = "Bu məhsulu silmək istəyirsiniz?";


        start_load('MTM1Nw==');



        function openBigTabs(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent-big-tabs");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks-big-tabs");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            if (evt != null) {
                evt.currentTarget.className += " active";
            }
        }

        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }


            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }


            document.getElementById(cityName).style.display = "block";


            if (evt != null) {
                evt.currentTarget.className += " active";
            }


            disable_image_loader = true;
            setTimeout(() => {
                disable_image_loader = false
            }, 300);


            //Load images
            start_load(cityName);

            /*    Analytics   */
            sendAnalyticsCategories(cityName);
        }


        var current_cat_id = '';

        function autoScrollCategories(id) {
            if (id == undefined || current_cat_id == id)
                return;

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            if (document.getElementById("TC" + id) != null) {
                document.getElementById("TC" + id).className += " active";
                document.getElementById("TC" + id).scrollIntoView({
                    behavior: 'smooth',
                    inline: 'center'
                });
                current_cat_id = id;
            }



        }


        function openGeneralCategories(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent-general");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks-general");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            //Display
            tablinks = document.getElementsByClassName(cityName);
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.display = "flex";
            }



            if (evt != null) {
                evt.currentTarget.className += " active";
            }


            //   /QOSA QALA/
            //   if(cityName == 'allCategories' && (token_id == 'MjM4' || token_id == 'MTQ1' || token_id == 'ODQy'|| token_id == 'MTIyMw==' || token_id == 'MTIyNg==' || token_id == 'MTIyNw==')){
            //     $('#all_categories_button').click();
            //   }

            //Analytics
            // updateOrdering(cityName);



            //Open first element
            try {
                document.getElementsByClassName(cityName)[0].firstElementChild.click();
            } catch (e) {

            }

        }


        function openItem(category, id) {
            openCity(null, category);
            setTimeout(() => {
                scrollItemCenterScreen(document.getElementById(id));
                document.getElementById('select2-chz-select-container').innerHTML = lng_search + '...';
            }, 300);
        }


        function findMeal() {
            var e = document.getElementById("chz-select");
            var data = e.options[e.selectedIndex].value.split(',');
            var category = data[0];
            var item = data[1];

            e.value = '';


            console.log(category);
            openItem(category, item);
            // alert(category);

        }

        document.addEventListener('keydown', function (e) {
            if (e.keyCode == 27) {
                displayBackToMonyoMenu();
            }
        });




    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ele = document.querySelector('.category-filter');
            let pos = { left: 0, x: 0 };

            const mouseDownHandler = function (e) {
                ele.style.userSelect = 'none';

                pos = {
                    left: ele.scrollLeft,
                    x: e.clientX,
                };

                document.addEventListener('mousemove', mouseMoveHandler);
                document.addEventListener('mouseup', mouseUpHandler);
                ele.style.cursor = 'grabbing';
            };

            const mouseMoveHandler = function (e) {
                const dx = e.clientX - pos.x;
                ele.scrollLeft = pos.left - dx;
            };

            const mouseUpHandler = function () {
                document.removeEventListener('mousemove', mouseMoveHandler);
                document.removeEventListener('mouseup', mouseUpHandler);
                ele.style.cursor = 'grab';
            };

            ele.addEventListener('mousedown', mouseDownHandler);
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</body>

<!-- Mirrored from mado.az/menu/meals by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Jan 2024 22:54:01 GMT -->
</html>