@model IEnumerable<Product>
<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>

                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>ParentsCategoryId</th>
                <th>RestoranName</th>
                <th>CreateTime</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (Model ?? new List<Product>()))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td> <img src="~/Image/Product/@item.ImagePath" /></td>
                    <td>@item.ParentsCategoryId</td>
                    <td>@item.Restorant.RestorantName</td>
                    <td>@item.DateTime</td>
                    <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>